<section class="chat-list-container">
    <header class="chat-list-header">
        <h1 (click)="inicio()">Chats</h1>
        <button (click)="nuevo()" class="btn">Nuevo Chat</button>
    </header>

    <div class="search-container">
        <input type="text" placeholder="Buscar un chat" [ngModel]="searchChat()"
            (ngModelChange)="searchChat.set($event)" class="search-input">
    </div>

    <ul class="chat-list">
        @for(chat of filteredChats(); track chat.id) {
        <li (click)="open(chat.id)" class="chat-item">
            <img class="chat-image" src="{{ chat.image }}" alt="">
            <div class="chat-info">
                <div class="chat-name">{{ chat.name }}</div>
                <div class="chat-preview">{{ chat.lastMessage }}</div>
            </div>
        </li>
        }
        @empty {
        <li class="empty-state">No hay chats disponibles.</li>
        }
    </ul>
</section>